## Libraries

In [1]:
import pandas as pd
import numpy as np
import os, json, math, time
from tqdm.notebook import tqdm_notebook
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from pandas.io import sql
import MySQLdb

## Loading the data

In [2]:
basics = pd.read_csv('Data/title.basics.csv.gz')

In [3]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

## exploding and splitt

In [4]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81892,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
81893,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81894,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
81895,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81896,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [5]:
genres_split = basics['genres'].str.split(',')
exploded_genres = basics.explode('genres_split')
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [6]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [7]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0068865        Drama

In [8]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [11]:
basics['genre_id'] = basics['genres_split'].replace(genre_id_map)
basics = basics.drop(columns='genres_split')

In [12]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                           'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [ ]:
basics =basics.drop(columns)

In [14]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [13]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81897 entries, 0 to 81896
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81897 non-null  object
 1   titleType       81897 non-null  object
 2   primaryTitle    81897 non-null  object
 3   originalTitle   81897 non-null  object
 4   isAdult         81897 non-null  int64
 5   startYear       81897 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81897 non-null  int64
 8   genres          81897 non-null  object
 9   genre_id        81897 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.2+ MB

In [14]:
basics['genre_id'].value_counts()

[Drama]                            16136
[Comedy]                            6730
[Comedy, Drama]                     3817
[Horror]                            3740
[Drama, Romance]                    2523
                                   ...
[Crime, Thriller, War]                 1
[History, Sci-Fi]                      1
[Comedy, Mystery, Sport]               1
[Crime, Western]                       1
[Mystery, Reality-TV, Thriller]        1
Name: genre_id, Length: 842, dtype: int64

In [16]:
## get max string length
max_str_len = basics['titleType'].fillna('').map(len).max()
max_str_len

5

In [17]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'titleType': Text(max_str_len+1),
    "primaryTitle": Text(title_len+1),
    'originalTitle': Text(max_str_len),
    'isAdult': Integer(),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer(),
    'genres':Text(max_str_len+1),
    'genre_id':Text(max_str_len+1)}

In [18]:
import json
with open('/Users/arvin/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [19]:
connection_str = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/titles_basics"

In [20]:
engine = create_engine(connection_str)

In [21]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [22]:
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genre_id) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El tango del viudo y su espejo deformante', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0068865', 'titleType': 'movie', 'primaryTitle': 'Lives of Performers', 'originalTitle': 'Lives of Performers', 'isAdult': 0, 'startYear': 2016.0, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genre_id': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0103340', 'titleType': 'movie', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'originalTitle': 'Zycie za zycie. Maksymilian Kolbe', 'isAdult': 0, 'startYear': 2006.0, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Biography,Drama', 'genre_id': ['Biography', 'Drama']}  ... displaying 10 of 81897 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genre_id': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genre_id': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')