In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmbd_tata_2000.csv.gz',
 'final_tmbd_tata_2001.csv.gz',
 'title-akas-us-only.csv',
 'title.basics.csv.gz',
 'title.ratings.csv.gz',
 'tmdb_api_results2000.json',
 'tmdb_api_results2001.json']

In [6]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [2]:
df1 = pd.read_csv('C:\\Users\\arvin\\Documents\\0626 Data enrichment\\Proejct-3-Part-1\\Data\\final_tmbd_tata_2000.csv.gz')
df2 = pd.read_csv('C:\\Users\\arvin\\Documents\\0626 Data enrichment\\Proejct-3-Part-1\\Data\\final_tmbd_tata_2001.csv.gz')
df1.head()

   imdb_id
0        0

In [3]:
df2.head()

   imdb_id
0        0

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imdb_id  1 non-null      int64
dtypes: int64(1)
memory usage: 136.0 bytes

In [10]:
pd.merge(left_df, right_df, left_on='id', right_on='index')

NameError: name 'left_df' is not defined